<?php
/**
 * This file is copied to config.php by kick
 *
 * Placeholders (\%CONF_ENVNAME\%) are replaced by the values found in environment
 */

define ("DEV_MODE", (bool)"%DEV_MODE%");


define("RUDL_GITDB_URL", "%RUDL_GITDB_URL%");
define("RUDL_GITDB_CLIENT_ID", "%RUDL_GITDB_CLIENT_ID%");
define("RUDL_GITDB_CLIENT_SECRET", "%RUDL_GITDB_CLIENT_SECRET%");

define("DNS_SCOPE", "%DNS_SCOPE?dns%");

define("BIND_ZONE_DIR", "/etc/bind/zones");
define("BIND_ZONE_CONFIG", "/etc/bind/named.conf.local");
